@{
    ViewData["Title"] = "Divulgue sua pesquisa na Agência UFC";
}

<header class="mb-4 text-center" xmlns="http://www.w3.org/1999/html">
    <div class="mt-4">
        <img src="assets/agenciaufc_header_logo.png" alt="Logo da Agência UFC"/>
    </div>
</header>

<body>
    <div class="container">
        <!-- Dropdown 1 -->
        <div class="row justify-content-center mb-2">
            <div class="col-md-6 text-center mb-2">
                <div class="dropdown custom-dropdown">
                    <button class="btn btn-secondary dropdown-toggle small-font" type="button"
                            id="agenciaDropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        O que é a Agência UFC?
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="agenciaDropdown">
                        <li>
                            <p class="dropdown-item-text">
                                A Agência UFC é um canal focado na divulgação de pesquisas científicas desenvolvidas na Universidade Federal do Ceará. <br>
                                <br>
                                Nosso objetivo é tornar o conhecimento científico disponível a toda a sociedade, auxiliando a UFC a cumprir seu papel como entidade de caráter público. <br>
                                <br>
                                É por isso que todas as nossas matérias são ficam disponíveis à utilização pela imprensa (com os devidos créditos), para que as pesquisas sejam amplamente divulgadas.<br> 
                                <br>
                                O gerenciamento da Agência UFC está a cargo da Secretaria de Comunicação e Marketing da UFC.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Dropdown 2 -->
        <div class="row justify-content-center mb-2">
            <div class="col-md-6 text-center mb-2">
                <div class="dropdown custom-dropdown">
                    <button class="btn btn-secondary dropdown-toggle small-font" type="button"
                            id="critériosDropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Quais os critérios de divulgação?
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="criteriosDropdown">
                        <li>
                            <p class="dropdown-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Dropdown 3 -->
        <div class="row justify-content-center mt-2 mb-4">
            <div class="col-md-12 text-center">
                <div class="dropdown custom-dropdown">
                    <button class="btn btn-secondary dropdown-toggle small-font" type="button"
                            id="processoDropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Como funciona o processo de publicação?
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="processoDropdown">
                        <li>
                            <p class="dropdown-item-text">
                                Nossa equipe de jornalistas irá avaliar a sugestão de pauta e entrar em contato com a pessoa responsável pela pesquisa para iniciar o processo de produção.<br>
                                <br>
                                Existem alguns passos até a publicação da matéria:<br>
                                - Entrevista com pesquisadores.<br>
                                - Redação do texto;<br>
                                - Revisão técnica por parte do(a) pesquisador(a);<br>
                                - Revisão final;<br>
                                - Publicação no site da Agência UFC, no portal da UFC e nas mídias sociais;<br>
                                - Envio de matéria para a imprensa.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <form id="emailForm" method="post" asp-controller="Email" asp-action="SendEmail">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="name" class="form-label">Responsável pela pesquisa:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="lab" class="form-label">Laboratório:</label>
                    <input type="text" class="form-control" id="lab" name="lab">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="dept" class="form-label">Departamento ou Programa de Pós-Graduação:</label>
                    <input type="text" class="form-control" id="dept" name="dept" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="publicationLink" class="form-label">Link de publicação:</label>
                    <input type="text" class="form-control" id="publicationLink" name="publicationLink">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="contactPhone" class="form-label">Telefone de contato:</label>
                    <input type="tel" class="form-control" id="contactPhone" name="contactPhone" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="contactEmail" class="form-label">E-mail de contato:</label>
                    <input type="email" class="form-control"
                           id="contactEmail" name="contactEmail"
                           pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$"
                           title="Informe um endereço de e-mail válido. Exemplo: usuario@dominio.com"
                           required>
                    <div class="invalid-feedback">
                        Por favor, insira um endereço de e-mail válido.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="researchTitle" class="form-label">Título da pesquisa:</label>
                <input type="text" class="form-control" id="researchTitle" name="researchTitle" required>
            </div>
            <div class="mb-3">
                <label for="researchSummary" class="form-label">Resumo da pesquisa:</label>
                <textarea class="form-control" id="researchSummary" name="researchSummary" rows="4" required
                          placeholder="Não é necessário incluir tudo (teremos a entrevista para isso), mas inclua as informações importantes sobre a pesquisa, como objetivos e resultados."></textarea>
            </div>
            <div class="row">
                <div class="mb-3 col-md-12 form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox1" required>
                    <label class="form-check-label" for="checkbox1">
                        Concordo que minha pesquisa seja divulgada nos canais
                        da UFC Informa (Agência UFC, portal e mídias sociais).
                    </label>
                </div>
                <div class="mb-3 col-md-12 form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox2" required>
                    <label class="form-check-label" for="checkbox2">
                        Estou ciente de que pode haver interesse da imprensa na
                        pesquisa e concordo em fornecer meu contato a eventuais
                        jornalistas interessados na criação de matérias de circulação nacional.
                    </label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-md-12 text-center">
                    <button type="submit" class="btn btn-primary" id="submitButton" disabled>Enviar</button>
                </div>
            </div>
        </form>
        
        

        <script>
            document.getElementById('contactEmail').addEventListener('input', function() {
                let input = this;        
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                } else {
                    input.classList.add('is-invalid');
                }
            });
        
            $(document).ready(function () {
                $('#checkbox1, #checkbox2').change(function () {
                    if ($('#checkbox1').prop('checked') && $('#checkbox2').prop('checked')) {
                        $('#submitButton').prop('disabled', false);
                    } else {
                        $('#submitButton').prop('disabled', true);
                    }
                });

                $("#emailForm").submit(function (event) {
                    event.preventDefault();
            
                    let name = $("#name").val();
                    let lab = $("#lab").val();
                    let dept = $("#dept").val();
                    let researchTitle = $("#researchTitle").val();
                    let researchSummary = $("#researchSummary").val();
                    let publicationLink = $("#publicationLink").val();
                    let contactPhone = $("#contactPhone").val();
                    let contactEmail = $("#contactEmail").val();
                    
                    $.ajax({
                        type: "POST",
                        url: "/Email/SendEmail",
                        contentType: "application/json",
                        data: JSON.stringify({
                            subject: researchTitle,
                            name: name,
                            lab: lab,
                            dept: dept,
                            researchTitle: researchTitle,
                            researchSummary: researchSummary,
                            publicationLink: publicationLink,
                            contactPhone: contactPhone,
                            contactEmail: contactEmail
                        }),
                        success: function () {
                          $('#successModal').modal('show');
                        },
                        error: function () {
                          $('#errorModal').modal('show');
                        }
                    });
                });
            });
        </script>
    </div>
    
    <!-- Modals -->
    <div class="modal" tabindex="-1" role="dialog" id="successModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">E-mail enviado com sucesso!</h5>
                </div>
                <div class="modal-body">
                    Recebemos o seu e-mail e entraremos em contato em até 3 dias.<br/>
                    <br/>
                    Caso não tenha resposta nesse tempo, você pode entrar em contato conosco: coordenacao.ufcinforma@ufc.br ou (85) 3366 7331.
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="errorModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Falha no envio do e-mail!</h5>
                </div>
                <div class="modal-body">
                    Houve uma falha no envio do e-mail. Por favor, tente novamente.<br/>
                    <br/>
                    Caso continue a ter problemas, entre em contato conosco: coordenacao.ufcinforma@ufc.br ou (85) 3366 7331.
                </div>
            </div>
        </div>
    </div>
</body>
